@page "/vehicles/create/"

@inject HttpClient _client
@inject NavigationManager _navManage

<h3 class="cart-title">Car Vehicles Create</h3>
<hr />

<FormComponent buttonText="Save" OnValidSubmit="@CreateVechicle" vehicle="@vehicle" />

@code {
    Vehicle vehicle = new Vehicle();

    private async Task CreateVechicle()
    {
        await _client.PostAsJsonAsync(Endpoints.VehiclesEndpoint, vehicle);
        _navManage.NavigateTo("/vehicles/");
    }
}
